<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Page{% endblock %} | {{ app_name }}</title>

        {% block stylesheets %}{% endblock %}

        {% block javascripts %}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </head>
    <body class="{{ is_granted('IS_AUTHENTICATED') ? app.user.colorScheme : "system" }}">
        <main class="w-screen h-screen bg-white dark:bg-gray-900 text-gray-800 dark:text-gray-100">
            {% block body %}{% endblock %}
        </main>
    </body>
</html>
